.qwebirc .colourline .Xc0 {
  color: #ffffff;
}
.qwebirc .colourline .Xc1 {
  color: #000000;
}
.qwebirc .colourline .Xc2 {
  color: #00007f;
}
.qwebirc .colourline .Xc3 {
  color: #009300;
}
.qwebirc .colourline .Xc4 {
  color: #ff0000;
}
.qwebirc .colourline .Xc5 {
  color: #7f0000;
}
.qwebirc .colourline .Xc6 {
  color: #9c009c;
}
.qwebirc .colourline .Xc7 {
  color: #fc7f00;
}
.qwebirc .colourline .Xc8 {
  color: #ffff00;
}
.qwebirc .colourline .Xc9 {
  color: #00fc00;
}
.qwebirc .colourline .Xc10 {
  color: #009393;
}
.qwebirc .colourline .Xc11 {
  color: #00ffff;
}
.qwebirc .colourline .Xc12 {
  color: #0000fc;
}
.qwebirc .colourline .Xc13 {
  color: #ff00ff;
}
.qwebirc .colourline .Xc14 {
  color: #7f7f7f;
}
.qwebirc .colourline .Xc15 {
  color: #d2d2d2;
}
.qwebirc .colourline .Xc16 {
  color: #470000;
}
.qwebirc .colourline .Xc17 {
  color: #472100;
}
.qwebirc .colourline .Xc18 {
  color: #474700;
}
.qwebirc .colourline .Xc19 {
  color: #324700;
}
.qwebirc .colourline .Xc20 {
  color: #004700;
}
.qwebirc .colourline .Xc21 {
  color: #00472c;
}
.qwebirc .colourline .Xc22 {
  color: #004747;
}
.qwebirc .colourline .Xc23 {
  color: #002747;
}
.qwebirc .colourline .Xc24 {
  color: #000047;
}
.qwebirc .colourline .Xc25 {
  color: #2e0047;
}
.qwebirc .colourline .Xc26 {
  color: #470047;
}
.qwebirc .colourline .Xc27 {
  color: #47002a;
}
.qwebirc .colourline .Xc28 {
  color: #740000;
}
.qwebirc .colourline .Xc29 {
  color: #743a00;
}
.qwebirc .colourline .Xc30 {
  color: #747400;
}
.qwebirc .colourline .Xc31 {
  color: #517400;
}
.qwebirc .colourline .Xc32 {
  color: #007400;
}
.qwebirc .colourline .Xc33 {
  color: #007449;
}
.qwebirc .colourline .Xc34 {
  color: #007474;
}
.qwebirc .colourline .Xc35 {
  color: #004074;
}
.qwebirc .colourline .Xc36 {
  color: #000074;
}
.qwebirc .colourline .Xc37 {
  color: #4b0074;
}
.qwebirc .colourline .Xc38 {
  color: #740074;
}
.qwebirc .colourline .Xc39 {
  color: #740045;
}
.qwebirc .colourline .Xc40 {
  color: #b50000;
}
.qwebirc .colourline .Xc41 {
  color: #b56300;
}
.qwebirc .colourline .Xc42 {
  color: #b5b500;
}
.qwebirc .colourline .Xc43 {
  color: #7db500;
}
.qwebirc .colourline .Xc44 {
  color: #00b500;
}
.qwebirc .colourline .Xc45 {
  color: #00b571;
}
.qwebirc .colourline .Xc46 {
  color: #00b5b5;
}
.qwebirc .colourline .Xc47 {
  color: #0063b5;
}
.qwebirc .colourline .Xc48 {
  color: #0000b5;
}
.qwebirc .colourline .Xc49 {
  color: #7500b5;
}
.qwebirc .colourline .Xc50 {
  color: #b500b5;
}
.qwebirc .colourline .Xc51 {
  color: #b5006b;
}
.qwebirc .colourline .Xc52 {
  color: #ff0000;
}
.qwebirc .colourline .Xc53 {
  color: #ff8c00;
}
.qwebirc .colourline .Xc54 {
  color: #ffff00;
}
.qwebirc .colourline .Xc55 {
  color: #b2ff00;
}
.qwebirc .colourline .Xc56 {
  color: #00ff00;
}
.qwebirc .colourline .Xc57 {
  color: #00ffa0;
}
.qwebirc .colourline .Xc58 {
  color: #00ffff;
}
.qwebirc .colourline .Xc59 {
  color: #008cff;
}
.qwebirc .colourline .Xc60 {
  color: #0000ff;
}
.qwebirc .colourline .Xc61 {
  color: #a500ff;
}
.qwebirc .colourline .Xc62 {
  color: #ff00ff;
}
.qwebirc .colourline .Xc63 {
  color: #ff0098;
}
.qwebirc .colourline .Xc64 {
  color: #ff5959;
}
.qwebirc .colourline .Xc65 {
  color: #ffb459;
}
.qwebirc .colourline .Xc66 {
  color: #ffff71;
}
.qwebirc .colourline .Xc67 {
  color: #cfff60;
}
.qwebirc .colourline .Xc68 {
  color: #6fff6f;
}
.qwebirc .colourline .Xc69 {
  color: #65ffc9;
}
.qwebirc .colourline .Xc70 {
  color: #6dffff;
}
.qwebirc .colourline .Xc71 {
  color: #59b4ff;
}
.qwebirc .colourline .Xc72 {
  color: #5959ff;
}
.qwebirc .colourline .Xc73 {
  color: #c459ff;
}
.qwebirc .colourline .Xc74 {
  color: #ff66ff;
}
.qwebirc .colourline .Xc75 {
  color: #ff59bc;
}
.qwebirc .colourline .Xc76 {
  color: #ff9c9c;
}
.qwebirc .colourline .Xc77 {
  color: #ffd39c;
}
.qwebirc .colourline .Xc78 {
  color: #ffff9c;
}
.qwebirc .colourline .Xc79 {
  color: #e2ff9c;
}
.qwebirc .colourline .Xc80 {
  color: #9cff9c;
}
.qwebirc .colourline .Xc81 {
  color: #9cffdb;
}
.qwebirc .colourline .Xc82 {
  color: #9cffff;
}
.qwebirc .colourline .Xc83 {
  color: #9cd3ff;
}
.qwebirc .colourline .Xc84 {
  color: #9c9cff;
}
.qwebirc .colourline .Xc85 {
  color: #dc9cff;
}
.qwebirc .colourline .Xc86 {
  color: #ff9cff;
}
.qwebirc .colourline .Xc87 {
  color: #ff94d3;
}
.qwebirc .colourline .Xc88 {
  color: #000000;
}
.qwebirc .colourline .Xc89 {
  color: #131313;
}
.qwebirc .colourline .Xc90 {
  color: #282828;
}
.qwebirc .colourline .Xc91 {
  color: #363636;
}
.qwebirc .colourline .Xc92 {
  color: #4d4d4d;
}
.qwebirc .colourline .Xc93 {
  color: #656565;
}
.qwebirc .colourline .Xc94 {
  color: #818181;
}
.qwebirc .colourline .Xc95 {
  color: #9f9f9f;
}
.qwebirc .colourline .Xc96 {
  color: #bcbcbc;
}
.qwebirc .colourline .Xc97 {
  color: #e2e2e2;
}
.qwebirc .colourline .Xc98 {
  color: #ffffff;
}

.qwebirc .colourline .Xbc0 {
  background-color: #ffffff;
}
.qwebirc .colourline .Xbc1 {
  background-color: #000000;
}
.qwebirc .colourline .Xbc2 {
  background-color: #00007f;
}
.qwebirc .colourline .Xbc3 {
  background-color: #009300;
}
.qwebirc .colourline .Xbc4 {
  background-color: #ff0000;
}
.qwebirc .colourline .Xbc5 {
  background-color: #7f0000;
}
.qwebirc .colourline .Xbc6 {
  background-color: #9c009c;
}
.qwebirc .colourline .Xbc7 {
  background-color: #fc7f00;
}
.qwebirc .colourline .Xbc8 {
  background-color: #ffff00;
}
.qwebirc .colourline .Xbc9 {
  background-color: #00fc00;
}
.qwebirc .colourline .Xbc10 {
  background-color: #009393;
}
.qwebirc .colourline .Xbc11 {
  background-color: #00ffff;
}
.qwebirc .colourline .Xbc12 {
  background-color: #0000fc;
}
.qwebirc .colourline .Xbc13 {
  background-color: #ff00ff;
}
.qwebirc .colourline .Xbc14 {
  background-color: #7f7f7f;
}
.qwebirc .colourline .Xbc15 {
  background-color: #d2d2d2;
}
.qwebirc .colourline .Xbc16 {
  background-color: #470000;
}
.qwebirc .colourline .Xbc17 {
  background-color: #472100;
}
.qwebirc .colourline .Xbc18 {
  background-color: #474700;
}
.qwebirc .colourline .Xbc19 {
  background-color: #324700;
}
.qwebirc .colourline .Xbc20 {
  background-color: #004700;
}
.qwebirc .colourline .Xbc21 {
  background-color: #00472c;
}
.qwebirc .colourline .Xbc22 {
  background-color: #004747;
}
.qwebirc .colourline .Xbc23 {
  background-color: #002747;
}
.qwebirc .colourline .Xbc24 {
  background-color: #000047;
}
.qwebirc .colourline .Xbc25 {
  background-color: #2e0047;
}
.qwebirc .colourline .Xbc26 {
  background-color: #470047;
}
.qwebirc .colourline .Xbc27 {
  background-color: #47002a;
}
.qwebirc .colourline .Xbc28 {
  background-color: #740000;
}
.qwebirc .colourline .Xbc29 {
  background-color: #743a00;
}
.qwebirc .colourline .Xbc30 {
  background-color: #747400;
}
.qwebirc .colourline .Xbc31 {
  background-color: #517400;
}
.qwebirc .colourline .Xbc32 {
  background-color: #007400;
}
.qwebirc .colourline .Xbc33 {
  background-color: #007449;
}
.qwebirc .colourline .Xbc34 {
  background-color: #007474;
}
.qwebirc .colourline .Xbc35 {
  background-color: #004074;
}
.qwebirc .colourline .Xbc36 {
  background-color: #000074;
}
.qwebirc .colourline .Xbc37 {
  background-color: #4b0074;
}
.qwebirc .colourline .Xbc38 {
  background-color: #740074;
}
.qwebirc .colourline .Xbc39 {
  background-color: #740045;
}
.qwebirc .colourline .Xbc40 {
  background-color: #b50000;
}
.qwebirc .colourline .Xbc41 {
  background-color: #b56300;
}
.qwebirc .colourline .Xbc42 {
  background-color: #b5b500;
}
.qwebirc .colourline .Xbc43 {
  background-color: #7db500;
}
.qwebirc .colourline .Xbc44 {
  background-color: #00b500;
}
.qwebirc .colourline .Xbc45 {
  background-color: #00b571;
}
.qwebirc .colourline .Xbc46 {
  background-color: #00b5b5;
}
.qwebirc .colourline .Xbc47 {
  background-color: #0063b5;
}
.qwebirc .colourline .Xbc48 {
  background-color: #0000b5;
}
.qwebirc .colourline .Xbc49 {
  background-color: #7500b5;
}
.qwebirc .colourline .Xbc50 {
  background-color: #b500b5;
}
.qwebirc .colourline .Xbc51 {
  background-color: #b5006b;
}
.qwebirc .colourline .Xbc52 {
  background-color: #ff0000;
}
.qwebirc .colourline .Xbc53 {
  background-color: #ff8c00;
}
.qwebirc .colourline .Xbc54 {
  background-color: #ffff00;
}
.qwebirc .colourline .Xbc55 {
  background-color: #b2ff00;
}
.qwebirc .colourline .Xbc56 {
  background-color: #00ff00;
}
.qwebirc .colourline .Xbc57 {
  background-color: #00ffa0;
}
.qwebirc .colourline .Xbc58 {
  background-color: #00ffff;
}
.qwebirc .colourline .Xbc59 {
  background-color: #008cff;
}
.qwebirc .colourline .Xbc60 {
  background-color: #0000ff;
}
.qwebirc .colourline .Xbc61 {
  background-color: #a500ff;
}
.qwebirc .colourline .Xbc62 {
  background-color: #ff00ff;
}
.qwebirc .colourline .Xbc63 {
  background-color: #ff0098;
}
.qwebirc .colourline .Xbc64 {
  background-color: #ff5959;
}
.qwebirc .colourline .Xbc65 {
  background-color: #ffb459;
}
.qwebirc .colourline .Xbc66 {
  background-color: #ffff71;
}
.qwebirc .colourline .Xbc67 {
  background-color: #cfff60;
}
.qwebirc .colourline .Xbc68 {
  background-color: #6fff6f;
}
.qwebirc .colourline .Xbc69 {
  background-color: #65ffc9;
}
.qwebirc .colourline .Xbc70 {
  background-color: #6dffff;
}
.qwebirc .colourline .Xbc71 {
  background-color: #59b4ff;
}
.qwebirc .colourline .Xbc72 {
  background-color: #5959ff;
}
.qwebirc .colourline .Xbc73 {
  background-color: #c459ff;
}
.qwebirc .colourline .Xbc74 {
  background-color: #ff66ff;
}
.qwebirc .colourline .Xbc75 {
  background-color: #ff59bc;
}
.qwebirc .colourline .Xbc76 {
  background-color: #ff9c9c;
}
.qwebirc .colourline .Xbc77 {
  background-color: #ffd39c;
}
.qwebirc .colourline .Xbc78 {
  background-color: #ffff9c;
}
.qwebirc .colourline .Xbc79 {
  background-color: #e2ff9c;
}
.qwebirc .colourline .Xbc80 {
  background-color: #9cff9c;
}
.qwebirc .colourline .Xbc81 {
  background-color: #9cffdb;
}
.qwebirc .colourline .Xbc82 {
  background-color: #9cffff;
}
.qwebirc .colourline .Xbc83 {
  background-color: #9cd3ff;
}
.qwebirc .colourline .Xbc84 {
  background-color: #9c9cff;
}
.qwebirc .colourline .Xbc85 {
  background-color: #dc9cff;
}
.qwebirc .colourline .Xbc86 {
  background-color: #ff9cff;
}
.qwebirc .colourline .Xbc87 {
  background-color: #ff94d3;
}
.qwebirc .colourline .Xbc88 {
  background-color: #000000;
}
.qwebirc .colourline .Xbc89 {
  background-color: #131313;
}
.qwebirc .colourline .Xbc90 {
  background-color: #282828;
}
.qwebirc .colourline .Xbc91 {
  background-color: #363636;
}
.qwebirc .colourline .Xbc92 {
  background-color: #4d4d4d;
}
.qwebirc .colourline .Xbc93 {
  background-color: #656565;
}
.qwebirc .colourline .Xbc94 {
  background-color: #818181;
}
.qwebirc .colourline .Xbc95 {
  background-color: #9f9f9f;
}
.qwebirc .colourline .Xbc96 {
  background-color: #bcbcbc;
}
.qwebirc .colourline .Xbc97 {
  background-color: #e2e2e2;
}
.qwebirc .colourline .Xbc98 {
  background-color: #ffffff;
}

.qwebirc .colourline .Xb {
  font-weight: bold;
}
.qwebirc .colourline .Xu {
  text-decoration: underline;
}
.qwebirc .colourline .Xi {
  font-style: italic;
}

.qwebirc .warncolour {
  background-color: #ff9090;
  color: black;
}

.qwebirc .infocolour {
  background-color: #d6d6ff;
  color: black;
}
