.qwebirc .colourline .Xc0 {
  color: #ffffff;
}
.qwebirc .colourline .Xc1 {
  color: #000000;
}
.qwebirc .colourline .Xc2 {
  color: #00007f;
}
.qwebirc .colourline .Xc3 {
  color: #009300;
}
.qwebirc .colourline .Xc4 {
  color: #ff0000;
}
.qwebirc .colourline .Xc5 {
  color: #7f0000;
}
.qwebirc .colourline .Xc6 {
  color: #9c009c;
}
.qwebirc .colourline .Xc7 {
  color: #fc7f00;
}
.qwebirc .colourline .Xc8 {
  color: #ffff00;
}
.qwebirc .colourline .Xc9 {
  color: #00fc00;
}
.qwebirc .colourline .Xc10 {
  color: #009393;
}
.qwebirc .colourline .Xc11 {
  color: #00ffff;
}
.qwebirc .colourline .Xc12 {
  color: #0000fc;
}
.qwebirc .colourline .Xc13 {
  color: #ff00ff;
}
.qwebirc .colourline .Xc14 {
  color: #7f7f7f;
}
.qwebirc .colourline .Xc15 {
  color: #d2d2d2;
}
.qwebirc .colourline .Xbc0 {
  background-color: #ffffff;
}
.qwebirc .colourline .Xbc1 {
  background-color: #000000;
}
.qwebirc .colourline .Xbc2 {
  background-color: #00007f;
}
.qwebirc .colourline .Xbc3 {
  background-color: #009300;
}
.qwebirc .colourline .Xbc4 {
  background-color: #ff0000;
}
.qwebirc .colourline .Xbc5 {
  background-color: #7f0000;
}
.qwebirc .colourline .Xbc6 {
  background-color: #9c009c;
}
.qwebirc .colourline .Xbc7 {
  background-color: #fc7f00;
}
.qwebirc .colourline .Xbc8 {
  background-color: #ffff00;
}
.qwebirc .colourline .Xbc9 {
  background-color: #00fc00;
}
.qwebirc .colourline .Xbc10 {
  background-color: #009393;
}
.qwebirc .colourline .Xbc11 {
  background-color: #00ffff;
}
.qwebirc .colourline .Xbc12 {
  background-color: #0000fc;
}
.qwebirc .colourline .Xbc13 {
  background-color: #ff00ff;
}
.qwebirc .colourline .Xbc14 {
  background-color: #7f7f7f;
}
.qwebirc .colourline .Xbc15 {
  background-color: #d2d2d2;
}
.qwebirc .colourline .Xb {
  font-weight: bold;
}
.qwebirc .colourline .Xu {
  text-decoration: underline;
}

.qwebirc .warncolour {
  background-color: #ff9090;
  color: black;
}

.qwebirc .infocolour {
  background-color: #d6d6ff;
  color: black;
}
