static/js/qui.js
static/js/qui-*.js
static/js/qwebirc.js
static/js/debug
static/css
static/css/debug
static/panes/privacypolicy.html
config.py
dropin.cache
*.tap
*.pyc
*.log*
*.pid
defargs.conf
Thumbs.db
desktop.ini
Desktop.ini
static/quidebug.html
static/qui.html
.checked
.compiled
bin/.checked
bin/.compiled
ssl
screenlog*
syslog.py
run.sh
.idea
*.iml
.virtualenv
