import dummyauthgate as AUTHGATEPROVIDER

IRCSERVER, IRCPORT = "moo.com", 6667
UPDATE_FREQ = 0.5
MAXBUFLEN = 10000
MAXSUBSCRIPTIONS = 3
REALNAME = "http://moo.com/"
MAXLINELEN = 600
IDENT = "webchat"   # set this value to None if you'd like a hex representation of the IP

BASE_URL = "http://foo.foo.org/"

FEEDBACK_FROM = "moo@moo.com"
FEEDBACK_TO = "moo@moo.com"
FEEDBACK_SMTP_HOST = "127.0.0.1"
FEEDBACK_SMTP_PORT = 25
ADMIN_ENGINE_HOSTS = ["127.0.0.1"]
HTTP_REQUEST_TIMEOUT = 5
HTTP_AJAX_REQUEST_TIMEOUT = 30
# optional default arguments:
# ARGS = "-n -p 3989"

NETWORK_NAME = "FooNet"
APP_TITLE = "FooNet Web IRC"

DNS_TIMEOUT = 5

# Possible types include "webirc" (CGIIRC style webirc config block),
# "cgiirc" (old CGIIRC style serverpassword),
# "hmac" (quakenet specific) and None (passes ip and host in realname)
WEBIRC_MODE = "webirc"

# webirc mode values
WEBIRC_PASSWORD = "fish"
# cgiirc mode values
CGIIRC_STRING = "CGIIRC"
# hmac mode values
HMACKEY = "mrmoo"
HMACTEMPORAL = 30

# the following are only really useful for quakenet but still need to be set sadly
AUTHGATEDOMAIN = "webchat_test"
QTICKETKEY = "boo"
AUTH_SERVICE = "Q!TheQBot@CServe.quakenet.org"
AUTH_OK_REGEX = "^You are now logged in as [^ ]+\\.$"
