.qwebircline .Xc0 {
  color: white;
}
.qwebircline .Xc1 {
  color: black;
}
.qwebircline .Xc2 {
  color: darkBlue;
}
.qwebircline .Xc3 {
  color: darkGreen;
}
.qwebircline .Xc4 {
  color: red;
}
.qwebircline .Xc5 {
  color: darkRed;
}
.qwebircline .Xc6 {
  color: purple;
}
.qwebircline .Xc7 {
  color: orange;
}
.qwebircline .Xc8 {
  color: yellow;
}
.qwebircline .Xc9 {
  color: green;
}
.qwebircline .Xc10 {
  color: teal;
}
.qwebircline .Xc11 {
  color: cyan;
}
.qwebircline .Xc12 {
  color: blue;
}
.qwebircline .Xc13 {
  color: fuchsia;
}
.qwebircline .Xc14 {
  color: darkGray;
}
.qwebircline .Xc15 {
  color: gray;
}
.qwebircline .Xbc0 {
  background-color: white;
}
.qwebircline .Xbc1 {
  background-color: black;
}
.qwebircline .Xbc2 {
  background-color: darkBlue;
}
.qwebircline .Xbc3 {
  background-color: darkGreen;
}
.qwebircline .Xbc4 {
  background-color: red;
}
.qwebircline .Xbc5 {
  background-color: darkRed;
}
.qwebircline .Xbc6 {
  background-color: purple;
}
.qwebircline .Xbc7 {
  background-color: orange;
}
.qwebircline .Xbc8 {
  background-color: yellow;
}
.qwebircline .Xbc9 {
  background-color: green;
}
.qwebircline .Xbc10 {
  background-color: teal;
}
.qwebircline .Xbc11 {
  background-color: cyan;
}
.qwebircline .Xbc12 {
  background-color: blue;
}
.qwebircline .Xbc13 {
  background-color: fuchsia;
}
.qwebircline .Xbc14 {
  background-color: darkGray;
}
.qwebircline .Xbc15 {
  background-color: gray;
}
.qwebircline .Xb {
  font-weight: bold;
}
.qwebircline .Xu {
  text-decoration: underline;
}
