.Xc0 {
  color: white;
}
.Xc1 {
  color: black;
}
.Xc2 {
  color: darkBlue;
}
.Xc3 {
  color: darkGreen;
}
.Xc4 {
  color: red;
}
.Xc5 {
  color: darkRed;
}
.Xc6 {
  color: purple;
}
.Xc7 {
  color: orange;
}
.Xc8 {
  color: yellow;
}
.Xc9 {
  color: green;
}
.Xc10 {
  color: teal;
}
.Xc11 {
  color: cyan;
}
.Xc12 {
  color: blue;
}
.Xc13 {
  color: fuchsia;
}
.Xc14 {
  color: darkGray;
}
.Xc15 {
  color: gray;
}
.Xbc0 {
  background-color: white;
}
.Xbc1 {
  background-color: black;
}
.Xbc2 {
  background-color: darkBlue;
}
.Xbc3 {
  background-color: darkGreen;
}
.Xbc4 {
  background-color: red;
}
.Xbc5 {
  background-color: darkRed;
}
.Xbc6 {
  background-color: purple;
}
.Xbc7 {
  background-color: orange;
}
.Xbc8 {
  background-color: yellow;
}
.Xbc9 {
  background-color: green;
}
.Xbc10 {
  background-color: teal;
}
.Xbc11 {
  background-color: cyan;
}
.Xbc12 {
  background-color: blue;
}
.Xbc13 {
  background-color: fuchsia;
}
.Xbc14 {
  background-color: darkGray;
}
.Xbc15 {
  background-color: gray;
}
.Xb {
  font-weight: bold;
}
.Xu {
  text-decoration: underline;
}
