body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", sans-serif;
}

.qwebirc-swmui .container {
  height: 100%;
  width: 100%;
}

.qwebirc-swmui .tabs {
  background: #fdd;
}

.qwebirc-swmui .main {
  background: #ddf;
}

.qwebirc-swmui .entry {
  background: #dfd;
}

.qwebirc-swmui .content {
  background: #ddf;
}

.qwebirc-swmui .nicklist {
  background: #dff;
}

.qwebirc-swmui .tab {
  float: left;
  min-width: 100px;
  width: 100px;
  display: block;
  border: 1px solid black;
  margin-right: 2px;
  cursor: default;
}

.qwebirc-swmui .tabclose {
  border: 1px solid black;
  margin: 2px;
  font-size: 0.5em;
}

.qwebirc-swmui .entry input {
  padding: 0px;
}

.qwebirc-swmui .entry {
}

.qwebirc-swmui .tab-highlighted {
  color: red;
}

.qwebirc-swmui .linestyle1 {
  background: #efefef;
}

.qwebirc-swmui .linestyle2 {
  background: #eeffff;
}

.qwebirc-swmui .tab-selected {
  background: #eff;
}

.qwebirc-swmui .tab-unselected {
  background: #eee;
}